.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.contact-wrapper .feed-me {
    font-size: 50px;
}

.feed-blocks {
    display: flex;
    margin-top: 50px;
}

.feed-block {
    display: flex;
    margin: 0 50px;
    align-items: center;
}

.feed-block  p {
    margin-left: 10px;
    font-size: 20px;
    color: #cf2c2f;
}

.feed-block:hover {
    transform: scale(1.4);
    color: #333;
}