.App  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 400px;
    font-size: 42px;
    position: relative;
    height: 100vh;
    width: 100%;
}

.app-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #000;
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
    width: 200px;
    height: 70px;
}

.app-button:hover {
    transform: scale(1.1);
    background: #333;
}

.app-img  {
    position: absolute;
    bottom: 100px;
    right: -150px;
}

.app-img2  {
    position: absolute;
    top: -100px;
    left: -90px;
}